/***************** GENERAL STYLES *******************/

* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	height: 100%;
	font-family: 'Montserrat', sans-serif;
	background-color: #FFF;
	color: #262626;
}

.content {
    padding: 0px;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.unstyled {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.inline li {
    display: inline;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    border: none;
    outline: none;
}

.btn-primary {
    display: inline-block;
    padding: 1em 1.8em;
    background-color: rgba(245, 72, 74, 0.9);
    margin-top: 1em;
    border-radius: 20em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: white;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #0D1621;
}

/***************** RETURN TO TOP BUTTON STYLES *******************/

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #EE3253;
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    z-index: 100;
}

#return-to-top i {
    color: #FFF !important;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover {
    background: #3C454A;
}

#return-to-top:hover i {
    top: 5px;
}

/************** TIMELINE STYLES ****************/

@charset "UTF-8";
.timeline-container {
  display: flex;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  color: #333;
  box-sizing: border-box;
}

.timeline {
  width: 100%;
  max-width: 800px;
  background: #fff;
  padding: 100px 50px;
  position: relative;
  box-shadow: 0.5rem 0.5rem 2rem 0 rgba(0, 0, 0, 0.2);
}
.timeline:before {
  content: '';
  position: absolute;
  top: 0px;
  left: calc(33% + 15px);
  bottom: 0px;
  width: 4px;
  background: #ddd;
}
.timeline:after {
  content: "";
  display: table;
  clear: both;
}

.entry {
  clear: both;
  text-align: left;
  position: relative;
}
.entry .title {
  margin-bottom: .5em;
  float: left;
  width: 33%;
  padding-right: 30px;
  text-align: right;
  position: relative;
}
.entry .title:before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  border: 4px solid salmon;
  background-color: #fff;
  border-radius: 100%;
  top: 15%;
  right: -8px;
}
.entry .title h3 {
  margin: 0;
  font-size: 120%;
}
.entry .title p {
  margin: 0;
  font-size: 100%;
}
.entry .body {
  margin: 0 0 3em;
  float: right;
  width: 66%;
  padding-left: 30px;
}
.entry .body p {
  line-height: 1.4em;
}
.entry .body p:first-child {
  margin-top: 0;
  font-weight: 400;
}
.entry .body ul {
  color: #aaa;
  padding-left: 0;
  list-style-type: none;
}
.entry .body ul li:before {
  content: "–";
  margin-right: .5em;
}

/**************** DROPDOWN STYLES ***************/

.bulleted li {
    list-style-type: square;
     list-style-position: outside;
     list-style-image: none;
}

/**************** PORTFOLIO PAGE STYLES ******************/

.portfolio-entry {
  background-color: #fff;
  color: #ffffff;
  display: inline-block;
  font-size: 16px;
  margin: 10px 5px;
  max-width: 315px;
  min-width: 230px;
  overflow: hidden;
  position: relative;
  text-align: left;
  width: 100%;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.portfolio-entry *,
.portfolio-entry *:before,
.portfolio-entry *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

.portfolio-entry img {
  backface-visibility: hidden;
  max-width: 100%;
  vertical-align: top;
}

.portfolio-entry:before,
.portfolio-entry:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  background-color: #2D7A98;
  opacity: 0.5;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

.portfolio-entry:before {
  -webkit-transform: skew(30deg) translateX(-80%);
  transform: skew(30deg) translateX(-80%);
}

.portfolio-entry:after {
  -webkit-transform: skew(-30deg) translateX(-70%);
  transform: skew(-30deg) translateX(-70%);
}

.portfolio-entry figcaption {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
  bottom: 0;
  padding: 25px 40% 25px 20px;
}

.portfolio-entry figcaption:before,
.portfolio-entry figcaption:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #92DFFD;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  content: '';
  opacity: 0.5;
  z-index: -1;
}

.portfolio-entry figcaption:before {
  -webkit-transform: skew(30deg) translateX(-100%);
  transform: skew(30deg) translateX(-100%);
}

.portfolio-entry figcaption:after {
  -webkit-transform: skew(-30deg) translateX(-90%);
  transform: skew(-30deg) translateX(-90%);
}

.portfolio-entry h3,
.portfolio-entry p {
  margin: 0;
  opacity: 0;
  letter-spacing: 1px;
}

.portfolio-entry h3 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1em;
  text-transform: uppercase;
}

.portfolio-entry p {
  font-size: 0.9em;
}

.portfolio-entry a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.portfolio-entry:hover h3,
.portfolio-entry.hover h3,
.portfolio-entry:hover p,
.portfolio-entry.hover p {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 0.9;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.portfolio-entry:hover:before,
.portfolio-entry.hover:before {
  -webkit-transform: skew(30deg) translateX(-20%);
  transform: skew(30deg) translateX(-20%);
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}

.portfolio-entry:hover:after,
.portfolio-entry.hover:after {
  -webkit-transform: skew(-30deg) translateX(-10%);
  transform: skew(-30deg) translateX(-10%);
}

.portfolio-entry:hover figcaption:before,
.portfolio-entry.hover figcaption:before {
  -webkit-transform: skew(30deg) translateX(-40%);
  transform: skew(30deg) translateX(-40%);
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

.portfolio-entry:hover figcaption:after,
.portfolio-entry.hover figcaption:after {
  -webkit-transform: skew(-30deg) translateX(-30%);
  transform: skew(-30deg) translateX(-30%);
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

/***************** CONTACT PAGE STYLES *****************/

.h1 small {
    font-size: 24px;
}

.form-control:focus {
  border-color: #EE3253;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(238,50,83,0.6);
}

.parsley-errors-list {
    display: none;
}

.margin-bottom {
    margin-bottom: 30px;
}