/***************** GENERAL STYLES *******************/

* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	height: 100%;
	font-family: 'Montserrat', sans-serif;
	background-color: #FFF;
	color: #262626;
}

.content {
    padding: 0px;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.unstyled {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.inline li {
    display: inline;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    border: none;
    outline: none;
}

.btn-primary {
    display: inline-block;
    padding: 1em 1.8em;
    background-color: rgba(245, 72, 74, 0.9);
    margin-top: 1em;
    border-radius: 20em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: white;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #0D1621;
}

/***************** RETURN TO TOP BUTTON STYLES *******************/

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #EE3253;
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    z-index: 100;
}

#return-to-top i {
    color: #FFF !important;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover {
    background: #3C454A;
}

#return-to-top:hover i {
    top: 5px;
}

/************** TIMELINE STYLES ****************/

@charset "UTF-8";
.timeline-container {
  display: flex;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  color: #333;
  box-sizing: border-box;
}

.timeline {
  width: 100%;
  max-width: 800px;
  background: #fff;
  padding: 100px 50px;
  position: relative;
  box-shadow: 0.5rem 0.5rem 2rem 0 rgba(0, 0, 0, 0.2);
}
.timeline:before {
  content: '';
  position: absolute;
  top: 0px;
  left: calc(33% + 15px);
  bottom: 0px;
  width: 4px;
  background: #ddd;
}
.timeline:after {
  content: "";
  display: table;
  clear: both;
}

.entry {
  clear: both;
  text-align: left;
  position: relative;
}
.entry .title {
  margin-bottom: .5em;
  float: left;
  width: 33%;
  padding-right: 30px;
  text-align: right;
  position: relative;
}
.entry .title:before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  border: 4px solid salmon;
  background-color: #fff;
  border-radius: 100%;
  top: 15%;
  right: -8px;
}
.entry .title h3 {
  margin: 0;
  font-size: 120%;
}
.entry .title p {
  margin: 0;
  font-size: 100%;
}
.entry .body {
  margin: 0 0 3em;
  float: right;
  width: 66%;
  padding-left: 30px;
}
.entry .body p {
  line-height: 1.4em;
}
.entry .body p:first-child {
  margin-top: 0;
  font-weight: 400;
}
.entry .body ul {
  color: #aaa;
  padding-left: 0;
  list-style-type: none;
}
.entry .body ul li:before {
  content: "–";
  margin-right: .5em;
}

/**************** DROPDOWN STYLES ***************/

.bulleted li {
    list-style-type: square;
     list-style-position: outside;
     list-style-image: none;
}